## Project Goals 
Prerequisites?
- Codecademy, Netflix - Drive To Survive, Inspiration from Challenge (R -> Python, no refs)

Where data comes from?
- Kaggle Link

In [76]:
# Import libraries
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns

In [77]:
# Read the datasets
circuits = pd.read_csv("circuits.csv")
constructors = pd.read_csv("constructors.csv")
con_standings = pd.read_csv("constructor_standings.csv")
con_results = pd.read_csv("constructor_results.csv")
drivers = pd.read_csv("drivers.csv")
dr_standings = pd.read_csv("driver_standings.csv")
races = pd.read_csv("races.csv")
results = pd.read_csv("results.csv")
lap_times = pd.read_csv("lap_times.csv")
pit_stops = pd.read_csv("pit_stops.csv")
quali = pd.read_csv("qualifying.csv")
sprints = pd.read_csv("sprint_results.csv")
status = pd.read_csv("status.csv")

### Prepare Data
We will print samples of the current datasets to see how they are to be joined for analysis. After this, we'll form new datasets with the prefix `full` and erase the data samples.

In [78]:
# Merge tables for drivers
full_drivers = drivers.merge(dr_standings, on="driverId", how="inner")
# Concatenate full name
full_drivers["name"] = full_drivers[["forename", "surname"]].apply(" ".join, axis=1)
# Drop the extra columns and reposition
full_drivers = full_drivers.reindex(columns=["driverId", "driverRef", "number", "code", "name", "dob", "nationality", "raceId", "points", "position", "wins"])
full_drivers

,driverId,driverRef,number,code,name,dob,nationality,raceId,points,position,wins
0,1,hamilton,44,HAM,Lewis Hamilton,1985-01-07,British,18,10.0,1,1
1,1,hamilton,44,HAM,Lewis Hamilton,1985-01-07,British,19,14.0,1,1
2,1,hamilton,44,HAM,Lewis Hamilton,1985-01-07,British,20,14.0,3,1
3,1,hamilton,44,HAM,Lewis Hamilton,1985-01-07,British,21,20.0,2,1
4,1,hamilton,44,HAM,Lewis Hamilton,1985-01-07,British,22,28.0,3,1
...,...,...,...,...,...,...,...,...,...,...,...
33877,856,de_vries,45,DEV,Nyck de Vries,1995-02-06,Dutch,1092,2.0,21,0
33878,856,de_vries,45,DEV,Nyck de Vries,1995-02-06,Dutch,1093,2.0,21,0
33879,856,de_vries,45,DEV,Nyck de Vries,1995-02-06,Dutch,1094,2.0,21,0
33880,856,de_vries,45,DEV,Nyck de Vries,1995-02-06,Dutch,1095,2.0,21,0
33881,856,de_vries,45,DEV,Nyck de Vries,1995-02-06,Dutch,1096,2.0,21,0

In [79]:
# Merge tables for onstructors and drop extra columns
full_constructors = constructors.merge(con_standings, on="constructorId", how="inner")\
                                .drop(columns=["url", "constructorStandingsId", "positionText"])
full_constructors

,constructorId,constructorRef,name,nationality,raceId,points,position,wins
0,1,mclaren,McLaren,British,18,14.0,1,1
1,1,mclaren,McLaren,British,19,24.0,1,1
2,1,mclaren,McLaren,British,20,28.0,3,1
3,1,mclaren,McLaren,British,21,34.0,3,1
4,1,mclaren,McLaren,British,22,42.0,3,1
...,...,...,...,...,...,...,...,...
12926,214,alpine,Alpine F1 Team,French,1092,143.0,4,0
12927,214,alpine,Alpine F1 Team,French,1093,149.0,4,0
12928,214,alpine,Alpine F1 Team,French,1094,153.0,4,0
12929,214,alpine,Alpine F1 Team,French,1095,167.0,4,0
12930,214,alpine,Alpine F1 Team,French,1096,173.0,4,0

In [80]:
# Merge tables for sprints and replace status with actual values
full_sprints = sprints.merge(status, on="statusId", how="inner")\
                        .drop(["positionText", "positionOrder", "time", "statusId"], axis=1)
full_sprints

,resultId,raceId,driverId,constructorId,number,grid,position,points,laps,milliseconds,fastestLap,fastestLapTime,status
0,1,1061,830,9,33,2,1,3,17,1538426,14,1:30.013,Finished
1,2,1061,1,131,44,1,2,2,17,1539856,17,1:29.937,Finished
2,3,1061,822,131,77,3,3,1,17,1545928,17,1:29.958,Finished
3,4,1061,844,6,16,4,4,0,17,1549704,16,1:30.163,Finished
4,5,1061,846,1,4,6,5,0,17,1562537,16,1:30.566,Finished
...,...,...,...,...,...,...,...,...,...,...,...,...,...
115,40,1065,842,213,10,6,\N,0,0,\N,\N,\N,Accident
116,80,1077,855,51,24,0,\N,0,0,\N,\N,\N,Retired
117,120,1095,848,3,23,11,\N,0,12,\N,4,1:15.998,Retired
118,99,1084,20,117,5,20,19,0,21,\N,4,1:10.317,Collision damage
119,100,1084,4,214,14,8,\N,0,0,\N,\N,\N,Electrical

In [81]:
# Merge only relevant columns from races and circuits
full_races = pd.merge(races[["raceId", "year", "round", "circuitId", "name", "date"]],\
                        circuits[["circuitId", "circuitRef", "location", "country"]], on="circuitId", how="inner")\
                            .drop("circuitId", axis=1)
full_races

,raceId,year,round,name,date,circuitRef,location,country
0,1,2009,1,Australian Grand Prix,2009-03-29,albert_park,Melbourne,Australia
1,18,2008,1,Australian Grand Prix,2008-03-16,albert_park,Melbourne,Australia
2,36,2007,1,Australian Grand Prix,2007-03-18,albert_park,Melbourne,Australia
3,55,2006,3,Australian Grand Prix,2006-04-02,albert_park,Melbourne,Australia
4,71,2005,1,Australian Grand Prix,2005-03-06,albert_park,Melbourne,Australia
...,...,...,...,...,...,...,...,...
1074,1054,2021,3,Portuguese Grand Prix,2021-05-02,portimao,Portimão,Portugal
1075,1051,2021,20,Qatar Grand Prix,2021-11-21,losail,Al Daayen,Qatar
1076,1072,2021,21,Saudi Arabian Grand Prix,2021-12-05,jeddah,Jeddah,Saudi Arabia
1077,1075,2022,2,Saudi Arabian Grand Prix,2022-03-27,jeddah,Jeddah,Saudi Arabia
1078,1078,2022,5,Miami Grand Prix,2022-05-08,miami,Miami,USA

### Explore Data

Now, that we have our base datasets ready, we can start investigating the ropesof the data.

In [82]:
print(f"Total number of unique drivers: {full_drivers.name.nunique()}")

Total number of unique drivers: 848

In [83]:
full_drivers.groupby("nationality").name.nunique()

nationality
American             157
American-Italian       1
Argentine             24
Argentine-Italian      1
Australian            17
Austrian              15
Belgian               23
Brazilian             32
British              164
Canadian              14
Chilean                1
Chinese                1
Colombian              3
Czech                  1
Danish                 5
Dutch                 18
East German            3
Finnish                9
French                72
German                49
Hungarian              1
Indian                 2
Indonesian             1
Irish                  5
Italian               96
Japanese              20
Liechtensteiner        1
Malaysian              1
Mexican                6
Monegasque             4
New Zealander          9
Polish                 1
Portuguese             4
Rhodesian              4
Russian                4
South African         23
Spanish               15
Swedish               10
Swiss                 22
Thai                   2
Uruguayan              4
Venezuelan             3
Name: name, dtype: int64

In [98]:
max_wins = full_drivers.groupby("name").wins.max().sort_values(ascending=False).nlargest(5)
max_wins

name
Max Verstappen        15.0
Michael Schumacher    13.0
Sebastian Vettel      13.0
Lewis Hamilton        11.0
Nigel Mansell          9.0
Name: wins, dtype: float64